<mat-card>
  <h2>Registro de Usuarios</h2>
    <form [formGroup]="userForm" >
        <mat-form-field appearance="outline">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo*" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CI</mat-label>
          <input matInput placeholder="Carnet de identidad*" formControlName="ci">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Correo Electronico</mat-label>
            <input matInput placeholder="Correo Electronico*" formControlName="email" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput formControlName="birthday" [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker disabled="false" startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="userRole">
              <mat-option [value]="'EDITOR'">
                Editor
              </mat-option>
              <mat-option [value]="'REDACTOR'">
                Redactor
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div class="form-buttons">
            <button mat-raised-button color="accent">Cancelar</button>
            <button mat-raised-button (click)="registerUser()" [disabled]="!userForm.valid" color="primary">Registrar</button>
        </div>
    </form>
</mat-card>
