<mat-card>
    <mat-card-header>
        <mat-card-title>
            CARRED-0{{contentSelected}}
        </mat-card-title>
        <mat-card-subtitle>
            Redactor: {{this.redactor.name | titlecase}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            Cartas:  
            <a *ngFor="let letter of letters" routerLink="/redactor/letter-response/{{letter.id}}" > carta {{letter.id}}, </a>
        </mat-card-subtitle>
        <mat-card-subtitle>
            Fecha: {{content.creationDate | date }}
        </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="contentForm">
        <!--label  formControlName="status">stado: {{letter}}</label-->

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">


            <div class="fade" fxFlex="100%">
                <h3 fxLayoutAlign="start">Descripcion</h3>
                <mat-form-field appearance="outline">
                    <textarea matInput formControlName="description" rows="17" readonly></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end">
            <div class="buttons">
                <button color="warn" mat-raised-button (click)="back()">Regresar</button>
                <button style="background-color: #28A745; color: honeydew" mat-raised-button>Generar Boletin</button>
            </div>
        </div>
    </form>

    <!--
    <div *ngIf="!letter.valid">
      <h3>Aun no tiene cartas asignadas, Espere a que el sistema le asigne alguna carta.</h3>
    </div>
    -->
</mat-card>