<mat-card>
  <mat-table [dataSource]="usersData">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{parseRole(element.personRole)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Correo Electronico </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Nombre de Usuario </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username | titlecase}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/administrator/register-user">
      Agregar Nuevo Usuario
    </button>
  </mat-card-actions>
</mat-card>
