<mat-card>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de Carta </mat-header-cell>
      <mat-cell *matCellDef="let element">CARRED-0{{element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creationDate | date:'fullDate'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{parsePriority(element.priority) | titlecase}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="selected-period" [ngClass]="periodIsSelected(row)"
      (click)="selectLetter(row)"></mat-row>
  </mat-table>

  <mat-paginator [length]="" [pageSize]="5"></mat-paginator>


  <form [formGroup]="letter" *ngIf="letter.valid">
    <mat-form-field appearance="outline">
      <mat-label>
        <mat-icon>markunread</mat-icon> Carta Actual
      </mat-label>
      <textarea matInput formControlName="message" rows="10" readonly></textarea>
    </mat-form-field>
    <div class="buttons">
      <button color="warn" mat-raised-button (click)="filterWithRedactorLetters()">Descartar Carta</button>
      <button color="primary" mat-raised-button (click)="responseLetter()" >Responder Carta</button>
    </div>
  </form>
  <div *ngIf="!letter.valid">
    <h3>Aun no tiene cartas asignadas, Espere a que el sistema le asigne alguna carta.</h3>
  </div>
</mat-card>
