<mat-card>
  <mat-card-header>
    <mat-card-title>
      CARRED-0{{letterSelected}}
    </mat-card-title>
    <mat-card-subtitle>
      Prioridad: {{letterStatus | titlecase}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Fecha: {{letter.value.creationDate | date }}
    </mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="letter">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

      <div class="fade" fxFlex="50%">
        <h3 fxLayoutAlign="start">Contenido de la Carta</h3>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="message" rows="17" readonly></textarea>
        </mat-form-field>
      </div>

      <div class="fade" fxFlex="50%">
        <h3 fxLayoutAlign="start">Respuesta a la Carta</h3>
        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>markunread</mat-icon> Responde aqui...
          </mat-label>
          <textarea matInput formControlName="response" rows="17"></textarea>
        </mat-form-field>
      </div>
    </div>

    <app-list-images [listImages]="listImages"></app-list-images>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end">
      <div class="buttons">
        <button color="" mat-raised-button (click)="back()">Regresar a la lista de Cartas</button>
        <button color="accent" [disabled]="!letter.valid" mat-raised-button (click)="responseLetter()">Guardar Respuesta</button>
        <button color="primary" [disabled]="!letter.valid" mat-raised-button (click)="openDialog()">Mandar Respuesta al Editor</button>
      </div>
    </div>
  </form>
</mat-card>
