th.mat-sort-header-sorted {
    color: black;
  }
  
  .selected-period:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  .selected {
    background-color: lightgray;
  }
  
  form {
    width: 80%;
    margin: auto;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .buttons {
    text-align: end;
  }
  
  .buttons button {
    margin-right: 8px;
  }
  
  h3 {
    text-align: center;
  }
  