h2 {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

form {
  width: 80%;
  margin: auto;
}

textarea {
  font-size: 25px;
}

.buttons {
  text-align: end;
}

.buttons button, app-file-upload {
  margin: 10px;
}



#mi_div { 
  margin:  auto; 
  width: 900px;
}

#mi_div img {
  max-width: 300px;
  width: auto;
}

.imagen-adaptable {
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
