h2 {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

form {
  width: 80%;
  margin: auto;
}

textarea {
  font-size: 25px;
}

.buttons {
  text-align: end;
}

.buttons button,app-file-upload {
  margin: 10px;
}

