<mat-card>
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>Nombre Completo</mat-label>
                <input matInput placeholder="Nombre Completo*" name="name" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="Correo Electronico*" name="email">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>usuario</mat-label>
                <input matInput placeholder="Usuario*" name="username" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Contraseña*" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-select placeholder="Rol*">
                    <mat-option value="option">ADMINISTRADO</mat-option>
                    <mat-option value="option">EDITOR</mat-option>
                    <mat-option value="option">ESCRITOR</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Cumpleaños*</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Registrar</button>
    </mat-card-actions>
</mat-card>